@import "../../styles/colors.module.scss";

.topbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: rgba($mainNavy, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: $secondaryLightBlue;
    z-index: 10;
    margin: 0;
    padding: 0;

    .wrapper{
        margin: 10px 30px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .left {
            display: flex;
            align-items: center;
            
            .logo {
                font-family: 'Raleway';
                font-size: 26px;
                font-weight: 700;
                color: $secondaryLightBlue;

                text-decoration-color: transparent;
                transition: all 0.3s ease;

                padding: 2px 9px 6px;
                border-radius: 9px;
                border: 3px solid $secondaryLightBlue;


                &:hover{
                    text-decoration-color: $secondaryLightBlue;
                    background-color: rgba($secondaryLightBlue, 0.15);
                }
                
            }

    
        }
        .right {
            display: flex;
            align-items: center;
            
            
            ul{
                display: flex;
                font-size: 16px;
                font-weight: 500;
                
                a {
                    padding: 10px;
                    text-decoration: none;
                    display: flex;
                    align-items: center;

                    li{
                        margin: 0 10px;
                        font-family: 'Ubuntu Mono', sans-serif;
                        color: $mainLightPurple;
                        
    
                        span{
                            transition: all 0.2s ease;
                            color: $secondaryLightBlue;
                        }

                        &::marker {
                            display: none;
                        }
                    }

                    &:hover{
                        li{
                            span{
                                color: $mainLightPurple;
                            }
                        }
                    }

                    &.button {
                        margin: 0;
                        padding: 5px 10px;
                        text-decoration: underline;
                        text-decoration-color: transparent;
                        text-underline-offset: 0.1em;
                        transition: all 0.3s ease;

                        &:hover {
                            text-decoration-color: $mainLightBlue;
                        }
                    }
                }
                
            }
        }
    }
}
