
@import "../../../styles/colors.module.scss";

.assignment {
    // height: 450px;
    color: $mainGrey;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    z-index: 2;

    transition: all 0.5s ease;
    transition: backdrop-filter 1s ease;
    transition-delay: 0ms;

    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        z-index: 3;
        pointer-events: none;

        h1{
            margin-bottom: 20px;
            color: $mainGrey;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 1.5em;
        }

        h2 {
            margin: 10px 0;
            color: $mainLightBlue;
            font-family: 'Ubuntu Mono', monospace;
            font-weight: 400;
            font-size: 1em;
        }

        .assignmentDescription {
            padding: 25px;
            width: calc(100% - 50px);
            float: inherit;
            background-color: rgba($secondaryGrey, 0.8);
            backdrop-filter: blur(10px);
            border-radius: 0.5em;
            pointer-events: auto;
            p {
                font-family: 'Catamaran', sans-serif;
                font-size: 1.1em;
            }
        }

        .tools {
            margin: 0;
            margin-top: 1em;
            color: $mainLightPurple;
        }

        .button {
            pointer-events: auto;
        }

        &.left {
            align-items: flex-start;
            text-align: left;
            grid-column-start: 1;
            grid-column-end: 8;
            grid-row-start: 1;

        }
        &.right {
            align-items: end;
            text-align: right;
            grid-column-start: 7;
            grid-column-end: -1;
            grid-row-start: 1;
        }
    }

    .imageWrapper {
        display: flex;
        margin: auto 0;
        z-index: 2;
        width: 100%;
        height: auto;
        padding: 0;

        .imageClick {

            width: 100%;
            height: 100%;
            border: none;
            background-color: transparent;
            cursor: pointer;
            position: relative;

            .image {
                margin: 0;
                width: 100%;
                height: 100%;
                opacity: 0.5;
                transition: all 0.3s ease;
                border-radius: 0.5em;

            }

            &:hover img{
                opacity: 0.9;
            }
        }

        &.left {
            align-items: flex-start;
            text-align: left;
            grid-column-start: 7;
            grid-column-end: -1;
            grid-row-start: 1;

        }
        &.right {
            align-items: end;
            text-align: right;
            grid-column-start: 1;
            grid-column-end: 8;
            grid-row-start: 1;
        }

    }
}
