$mainNavy: #003844;
$mainGrey: #EDEEF7;
$secondaryGrey: #005366;
$mainLightBlue: #94E9F7;
$secondaryLightBlue: #E4FBFF;
$mainLightPurple: #B8B5FF;
$mainPurple: #7868E6;

:export {
    mainNavy: $mainNavy;
    mainGrey: $mainGrey;
    secondaryGrey: $secondaryGrey;
    mainLightBlue: $mainLightBlue;
    secondaryLightBlue: $secondaryLightBlue;
    mainLightPurple: $mainLightPurple;
    mainPurple: $mainPurple;
}